<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DeviceIP" value="192.168.0.251" />
    <add key="DevicePORT" value="8000" />
    <add key="ServerIP" value="192.168.0.182" />
    <add key="ServerPORT" value="9203" />
    <add key="Printer" value="doPDF 11" />
  </appSettings>
</configuration>